*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Chakra Petch', sans-serif;
}

a{
	color: #fff;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.cleaner{
	clear: both;
}
header{
	width: 100%;
	background:#212631;
	padding: 25px 0px;
}

.center-block{
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


#phone a i{
	margin-right: 6px;
}
 
#phone a{
	font-size:16px;
}

#phone a:hover,#social ul li a:hover{
	color: #e16565;

}

#social{
	text-align: right;
}

#social ul li{
	display: inline-block;
	margin: 0px 10px;
}

#social ul li a{
	font-size: 20px;
}
@keyframes typingCaption {
	from { width: 0 }
	to { width: 100% }
  }
#caption{
	width: 100%;
	padding:30px;
	font-size: 40px;
	margin: 45px 0px;
}
.captionWrapper{
	margin: 0px auto;
	animation: typingCaption 4s steps(30, end);
}
#caption h1{
	overflow: hidden;
}
h1{
	text-align:center;
	font-size: 65px;
	color:#212631;
	letter-spacing: 3px;
}
h1 a{
	color:#212631;
}

span{
	color: #a82222;
}

nav{
	text-align:center;
	padding: 30px 0px;
	
}
nav ul li{
	padding: 15px;
	font-size: 20px;
	
}
nav ul li a{
	 color:#000;
	 letter-spacing: 2px;
	 padding: 10px;
	 position: relative;
	 font-weight: bold;
 }
 nav ul li a::after{
	content: "";
	position: absolute;
	top: -10px;
	width: 0px;
	transition-duration: 0.5s;
	left: 0px;
	right: 0px;
 }
 nav ul li a:hover{
	 color: #a82222;
 }
nav ul li a:hover::after{
	width: 100%;
	height: 1px;
	background-color: #a82222;
	transition-duration: 0.5s;
}
 
 #cover{
	 width:100%;
	 height:650px;
	 background: url("../img/cover.jpg") no-repeat;
	 background-size:cover;
	 background-position:center;
	
 }
 
 #transaparent{
	 width: 100%;
	 height:inherit;
	 background: rgba(0, 0, 0, 0.5);
 }
 

.heading{
	text-align: center;
	width:100%;
	letter-spacing:3px;
	word-spacing:10px;
	color: #a82222;
	text-decoration:underline;
}

.heading h2{
	font-size:35px;	
}

.main-block{
	width:45%;
	margin: 35px 0px;
}

.main-text{
	text-align:justify;
}

img{	
	width:100%;
}

footer{
	background:#212631;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


#logo h2{
	font-size:45px;
}
#logo h2 a{
	transition: ease-in 0.2s;
}
#logo h2 a:hover{
	color:#a82222;
	transition: ease-in 0.2s;
}

#logo h2 a:hover span{
	color:#fff;
	transition: ease-in 0.2s;
}

#kontakt-footer{
	text-align: right;
}

#kontakt-footer ul li{
	text-align:left;
	color:#fff;
	margin: 5px 0px;
}
#kontakt-footer ul #glavni{
	font-size:25px;
	color: #e16565;
	margin: 10px 0px;
}
#original{
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	background-color: #1e2129;
}
#original h5{
	color: #fff;
}
footer .center-block{
	padding: 35px 0px;
}
#lista{
	padding: 0px 30px;
}


.center-block.top{
	margin: 60px auto;
}
#brendovi{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px 0px;
}
#filter{
	width: 15%;
	padding: 15px 0px;
}
#proizvodi{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px 0px;
}
#ponuda{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.ponuda{
	width: 95%;
}
.sat{
	width: 23%;
	border-radius: 5%;
	padding: 20px;
	/*box-shadow: 0px 0px 10px #212631;*/
	border: 1px solid #c2c2c2;
	margin: 15px 0px;
}
 
.sat p{
	margin: 10px 0px;
}
#brendovi .brend{
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	transition-duration: 0.2s;
}
#brendovi .brend:hover{
	border: 1px solid #fff;
	box-shadow: 0px 0px 10px #c2c2c2;
	transition-duration: 0.2s;
}
.fa-ban{
	color: #e16565;
}
.fa-check-circle{
	color: #72c513;
}
.dostupno{
	color: #949494;
}
.sat .cena{
	text-transform: uppercase;
}
.sat img{
	transition-duration: 0.2s;
}
.sat img:hover{
	transform: scale(1.1);
	transition-duration: 0.2s;
}
#oNama img{
	border-radius: 5px;
}
#slikaOnama{
	width: 45%;
}
#oNama{
	box-shadow: 0px 0px 10px 0px #c2c2c2;
	border-radius: 5px;
	margin: 30px 0px;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	justify-content: space-between;
	text-align: justify;
	width: 100%;
}
#oNama #tekst{
	width: 45%;
}
#oNama #tekst p{
	margin-bottom: 20px;
	font-size: 20px;
}
#kontaktIcons{
	margin: 30px 0px;
}
#kontaktIcons i{
	font-size: 25px;
	width: 50px;
	text-align: center;
	margin: 10px 0px;
}
iframe{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 0px;
}
form{
	width: 100%;
}
#kontakt{
	box-shadow: 0px 0px 10px 0px #c2c2c2;
	border-radius: 5px;
	margin: 30px 0px;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	justify-content: space-between;
	text-align: justify;
	width: 100%;
}
#kontakt #tekst,#kontakt #mapa{
	width: 50%;
	padding: 20px;
}
#kontakt #tekst{
	border-left: 1px solid #c2c2c2;
}
.form{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px 0px;
}
.form2{
	margin: 25px 0px;
}
input[type=checkbox]{
	margin-right: 5px;
	margin-top: 15px;
}
#kontakt .form input{
	width: 100%;
}
#kontakt .form textarea{
	width: 100%;
}
.input{
	width: 47%;
}
select{
	width: 100%;
}
input[type=range]{
	width: 100%;
}
input[type=text],input[type=submit],select,input[type=email]{
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
	font-family: 'Chakra Petch', sans-serif;
}
textarea{
	height: 150px;
	padding: 5px 10px;
	resize: vertical;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
	font-family: 'Chakra Petch', sans-serif;
}
#kontakt .form #posalji{
	width: fit-content;
	padding: 10px 45px;
	background-image: linear-gradient(to right, #a82222 0%, #EA384D  51%, #a82222  100%);
   	text-transform: uppercase;
   	color: #fff;
   	background-size: 200% auto;
   	border: 0px;
	box-shadow: 0px 0px 10px  #EA384D;
	transition-duration: 0.5s;
}

#kontakt .form #posalji:hover{
   background-position: right center;
   color: #fff;
   text-decoration: none;
   transition-duration: 0.5s;
}
#filter input[type=text]{
	width: 100%;
}
label{
	margin-top: 20px;
}
#filter label{
	font-size: 20px;
}
#filter select,#filter input[type=text]{
	font-size: 18px;
}
#specPonuda{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0px;
}
#filter h3{
	font-size: 25px;
}
#oNama #tekst h3{
	margin-bottom: 20px;
	font-size: 25px;
}
h5{
	font-size: 18px;
}